
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-607382112407913220.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-607382112407913220.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-607382112407913220.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-607382112407913220.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-607382112407913220.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-607382112407913220.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-607382112407913220.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-607382112407913220.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-607382112407913220.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-607382112407913220.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-607382112407913220.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-607382112407913220.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-607382112407913220.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-607382112407913220.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-607382112407913220.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-607382112407913220.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-607382112407913220.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-607382112407913220.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-607382112407913220.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-607382112407913220.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-607382112407913220.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-607382112407913220.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-607382112407913220.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-607382112407913220.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-607382112407913220.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-607382112407913220.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-607382112407913220.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-607382112407913220.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-607382112407913220.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-607382112407913220.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-607382112407913220.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-607382112407913220.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-607382112407913220.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-607382112407913220.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-607382112407913220.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-607382112407913220.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-607382112407913220.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-607382112407913220.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-607382112407913220.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-607382112407913220.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-607382112407913220.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-607382112407913220.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-607382112407913220.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-607382112407913220.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-607382112407913220.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-607382112407913220.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-607382112407913220.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-607382112407913220.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-607382112407913220.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-607382112407913220.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-607382112407913220.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-607382112407913220.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-607382112407913220.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-607382112407913220.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-607382112407913220.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-607382112407913220.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-607382112407913220.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-607382112407913220.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-607382112407913220.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-607382112407913220.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-607382112407913220.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-607382112407913220.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-607382112407913220 .gp-relative{position:relative}.gps-607382112407913220 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-607382112407913220 .gp-mb-0{margin-bottom:0}.gps-607382112407913220 .gp-flex{display:flex}.gps-607382112407913220 .gp-grid{display:grid}.gps-607382112407913220 .\!gp-hidden{display:none!important}.gps-607382112407913220 .gp-hidden{display:none}.gps-607382112407913220 .gp-max-w-full{max-width:100%}.gps-607382112407913220 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-607382112407913220 .gp-flex-col{flex-direction:column}.gps-607382112407913220 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-607382112407913220 .gp-duration-200{transition-duration:.2s}.gps-607382112407913220 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-607382112407913220 .tablet\:\!gp-hidden{display:none!important}.gps-607382112407913220 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-607382112407913220 .mobile\:\!gp-hidden{display:none!important}.gps-607382112407913220 .mobile\:gp-hidden{display:none}}.gps-607382112407913220 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"image","color":"transparent","image":{"src":"{{ section.settings.ggfsj0hhMQT_background_desktop_image_src }}","width":2000,"height":530,"storage":"FILE_CONTENT","backupFileKey":"gempages_606838643067257430-d04603ed-941e-4ee6-99f7-a64603497c09.jpg"},"size":"cover","position":{"x":0,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"gfsj0hhMQT"}' data-id="gfsj0hhMQT" id="gfsj0hhMQT" data-same-height-subgrid-container class="gfsj0hhMQT gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:30px;--pb:30px;--pt-tablet:20px;--pb-tablet:30px;--pt-mobile:20px;--pb-mobile:30px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url({{ section.settings.ggfsj0hhMQT_background_desktop_image_src }});--bgp:0% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gkm3xZahB2 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gSQtgLRL5v"}' data-id="gSQtgLRL5v" id="gSQtgLRL5v" data-same-height-subgrid-container class="gSQtgLRL5v gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:0px;--pl:10px;--pb:0px;--pr:10px;--mb-tablet:0px;--pl-tablet:10px;--pb-tablet:0px;--pr-tablet:10px;--mb-mobile:0px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:980px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g0CyqpatT_ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6A4lCuVbe"
        class="g6A4lCuVbe"
        style="--ta:left;--mb:273px;--mb-tablet:273px;--mb-mobile:164px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Outfit, 'Outfit'), var(--g-font-heading, heading);--weight:700;--size:54px;--size-tablet:46px;--size-mobile:30px;--lh:122%;--lh-tablet:130%;--lh-mobile:130%;--c:#FFFFFF;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6A4lCuVbe_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-607382112407913220 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/sheikhashadul/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=607381796862034487&sectionId=607382112407913220)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggfsj0hhMQT_background_desktop_image_src","label":"ggfsj0hhMQT_background_desktop_image_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/banner_f1e57bc1-8c5e-451f-b401-2b8b26671a72.jpg"},{"type":"html","id":"gg6A4lCuVbe_text","label":"gg6A4lCuVbe_text","default":"Forget Collagen &amp; Retinol…<br><span style=\"color:#FFF000;\">Leading Harvard Dermatologist</span><br>Recommends THIS 10-Second Trick To Shrink Lip Lines &amp; Correct Saggy Skin."}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}