
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-607297550239662852.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-607297550239662852.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-607297550239662852.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-607297550239662852.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-607297550239662852.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-607297550239662852.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-607297550239662852.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-607297550239662852.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-607297550239662852.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-607297550239662852.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-607297550239662852.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-607297550239662852.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-607297550239662852.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-607297550239662852.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-607297550239662852.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-607297550239662852.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-607297550239662852.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-607297550239662852.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-607297550239662852.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-607297550239662852.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-607297550239662852.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-607297550239662852.gps.gpsil [style*="--bottom:"]{bottom:var(--bottom)}.gps-607297550239662852.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-607297550239662852.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-607297550239662852.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-607297550239662852.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-607297550239662852.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-607297550239662852.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-607297550239662852.gps.gpsil [style*="--left:"]{left:var(--left)}.gps-607297550239662852.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-607297550239662852.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-607297550239662852.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-607297550239662852.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-607297550239662852.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-607297550239662852.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-607297550239662852.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-607297550239662852.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-607297550239662852.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-607297550239662852.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-607297550239662852.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-607297550239662852.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-607297550239662852.gps.gpsil [style*="--right:"]{right:var(--right)}.gps-607297550239662852.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-607297550239662852.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-607297550239662852.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-607297550239662852.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-607297550239662852.gps.gpsil [style*="--z:"]{z-index:var(--z)}@media only screen and (max-width:1024px){.gps-607297550239662852.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-607297550239662852.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-607297550239662852.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-607297550239662852.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-607297550239662852.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-607297550239662852.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-607297550239662852.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-607297550239662852.gps.gpsil [style*="--bottom-mobile:"]{bottom:var(--bottom-mobile)}.gps-607297550239662852.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-607297550239662852.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-607297550239662852.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-607297550239662852.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-607297550239662852.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-607297550239662852.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-607297550239662852.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-607297550239662852.gps.gpsil [style*="--z-mobile:"]{z-index:var(--z-mobile)}}.gps-607297550239662852 .gp-relative{position:relative}.gps-607297550239662852 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-607297550239662852 .gp-mb-0{margin-bottom:0}.gps-607297550239662852 .gp-inline-block{display:inline-block}.gps-607297550239662852 .gp-flex{display:flex}.gps-607297550239662852 .gp-grid{display:grid}.gps-607297550239662852 .gp-contents{display:contents}.gps-607297550239662852 .\!gp-hidden{display:none!important}.gps-607297550239662852 .gp-hidden{display:none}.gps-607297550239662852 .gp-h-auto{height:auto}.gps-607297550239662852 .gp-h-full{height:100%}.gps-607297550239662852 .gp-w-full{width:100%}.gps-607297550239662852 .gp-max-w-full{max-width:100%}.gps-607297550239662852 .gp-flex-none{flex:none}.gps-607297550239662852 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-607297550239662852 .gp-flex-col{flex-direction:column}.gps-607297550239662852 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-607297550239662852 .gp-duration-200{transition-duration:.2s}.gps-607297550239662852 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-607297550239662852 .tablet\:\!gp-hidden{display:none!important}.gps-607297550239662852 .tablet\:gp-hidden{display:none}.gps-607297550239662852 .tablet\:gp-h-auto{height:auto}.gps-607297550239662852 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-607297550239662852 .mobile\:\!gp-hidden{display:none!important}.gps-607297550239662852 .mobile\:gp-hidden{display:none}.gps-607297550239662852 .mobile\:gp-h-auto{height:auto}.gps-607297550239662852 .mobile\:gp-flex-none{flex:none}}.gps-607297550239662852 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"g6kviXcMzP"}' data-id="g6kviXcMzP" id="g6kviXcMzP" data-same-height-subgrid-container class="g6kviXcMzP gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gFY2_NI_wm gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gYEEq-M814"
      style="--mb-tablet:0px;--mb-mobile:0px;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--pos:absolute;--right:0px;--bottom:-54px;--bottom-mobile:-7px;--z:1;--z-mobile:2;--left:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1775232725037 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gYEEq-M814"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggYEEq-M814_srcSet_mobile_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTU5OS00OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgZmlsbD0idXJsKCNnLTE1OTktNDkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNTk5IiB0bz0iMTU5OSIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggYEEq-M814_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTU5OS00OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgZmlsbD0idXJsKCNnLTE1OTktNDkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNTk5IiB0bz0iMTU5OSIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" />
    
      
      <img
        base-src="{{ section.settings.ggYEEq-M814_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctMTU5OS00OSI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTU5OSIgaGVpZ2h0PSI0OSIgZmlsbD0idXJsKCNnLTE1OTktNDkpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii0xNTk5IiB0bz0iMTU5OSIgZHVyPSIxcyIgcmVwZWF0Q291bnQ9ImluZGVmaW5pdGUiICAvPgogIDwvc3ZnPg==" data-src="{{ section.settings.ggYEEq-M814_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--radiusType:none;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 11",
    "tag": "section",
    "class": "gps-607297550239662852 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/sheikhashadul/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=607167922405638711&sectionId=607297550239662852)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggYEEq-M814_srcSet_desktop_src","label":"ggYEEq-M814_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/1734002266-img_shape_two.svg"},{"type":"html","id":"ggYEEq-M814_srcSet_mobile_src","label":"ggYEEq-M814_srcSet_mobile_src","default":"https://cdn.shopify.com/s/files/1/0993/4700/5732/files/1734002266-img_shape_two.svg"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}