
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-609146888096056242.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-609146888096056242.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-609146888096056242.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-609146888096056242.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-609146888096056242.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-609146888096056242.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-609146888096056242.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-609146888096056242.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-609146888096056242.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-609146888096056242.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-609146888096056242.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-609146888096056242.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-609146888096056242.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-609146888096056242.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-609146888096056242.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-609146888096056242.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-609146888096056242.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-609146888096056242.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-609146888096056242.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-609146888096056242.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-609146888096056242.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-609146888096056242.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-609146888096056242.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-609146888096056242.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-609146888096056242.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-609146888096056242.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-609146888096056242.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-609146888096056242.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-609146888096056242.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-609146888096056242.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-609146888096056242.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-609146888096056242.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-609146888096056242.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-609146888096056242.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-609146888096056242.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-609146888096056242.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-609146888096056242.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-609146888096056242.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-609146888096056242.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-609146888096056242.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-609146888096056242.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-609146888096056242.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-609146888096056242.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-609146888096056242.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-609146888096056242.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-609146888096056242.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-609146888096056242.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-609146888096056242.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-609146888096056242.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-609146888096056242.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-609146888096056242.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-609146888096056242.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-609146888096056242.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-609146888096056242.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-609146888096056242.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-609146888096056242.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-609146888096056242.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-609146888096056242.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-609146888096056242.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-609146888096056242.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-609146888096056242.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-609146888096056242.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-609146888096056242.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-609146888096056242.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-609146888096056242.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-609146888096056242 .gp-relative{position:relative}.gps-609146888096056242 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-609146888096056242 .gp-mb-0{margin-bottom:0}.gps-609146888096056242 .gp-flex{display:flex}.gps-609146888096056242 .gp-grid{display:grid}.gps-609146888096056242 .\!gp-hidden{display:none!important}.gps-609146888096056242 .gp-hidden{display:none}.gps-609146888096056242 .gp-max-w-full{max-width:100%}.gps-609146888096056242 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-609146888096056242 .gp-flex-col{flex-direction:column}.gps-609146888096056242 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-609146888096056242 .gp-duration-200{transition-duration:.2s}.gps-609146888096056242 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-609146888096056242 .tablet\:\!gp-hidden{display:none!important}.gps-609146888096056242 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-609146888096056242 .mobile\:\!gp-hidden{display:none!important}.gps-609146888096056242 .mobile\:gp-hidden{display:none}}.gps-609146888096056242 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"#005294","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll","preload":false}},"uid":"g_JXDHSIeA"}' data-id="g_JXDHSIeA" id="g_JXDHSIeA" data-same-height-subgrid-container class="g_JXDHSIeA gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:15px;--pb:15px;--pt-tablet:15px;--pb-tablet:15px;--pt-mobile:15px;--pb-mobile:15px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#005294;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gfji8AvKHy gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{},"uid":"g_A6y_8c3l"}' data-id="g_A6y_8c3l" id="g_A6y_8c3l" data-same-height-subgrid-container class="g_A6y_8c3l gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--mb:0px;--mb-tablet:0px;--mb-mobile:0px;--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g19t4YQY2k gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g6O4QDBRWX"
        class="g6O4QDBRWX"
        style="--ta:left;--d:block;--d-tablet:block;--d-mobile:block;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-ApercuMonoProRegular, 'ApercuMonoProRegular'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:100%;--lh-tablet:180%;--lh-mobile:180%;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg6O4QDBRWX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-609146888096056242 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/sheikhashadul/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=609144044693488562&sectionId=609146888096056242)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg6O4QDBRWX_text","label":"gg6O4QDBRWX_text","default":"<p>SUBSCRIBE &amp; SAVE 40% 🛍️ 2M JARS SOLD</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}