<div class="hero_banner color-{{ section.settings.color_scheme}}">
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      {% content_for 'blocks' %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var swiper = new Swiper('.mySwiper', {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      autoplay: {
        delay: 2500,
        disableOnInteraction: false,
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  });
</script>

{% schema %}
{
  "name": "Hero Banner",
  "tag": "section",
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color Scheme",
      "default": "scheme-1"
    },
  ],
  "blocks": [
    {
      "type": "hero-slide"
    }
  ],
  "presets": [
    {
      "name": "Hero Banner",
      "blocks": [
        {
          "type": "hero-slide",
          "blocks": [
            {
              "type": "text"
            },
            {
              "type": "heading"
            },
            {
              "type": "button"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
